body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
a{
 color:#808de8;
}
.logo{
    margin-bottom: 2rem;
    margin-top: 2em;
    display: inline-block;
}
.section-title-container{
    box-sizing: border-box;
    box-shadow: 0 -30px 0 0 #f2b66c inset;
    padding: 0;
    text-align: left;
    width: 86%;
    margin-bottom: 2rem;
}
.section-title{
    font-size: 25px;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    color: #4e4957;
}
.form-signin {
    max-width: 70%;
    padding: 3rem;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control{
    border-radius: 0;
    font-size: 16px;
}
.panel.panel-default{
    border: none;
    border-radius: 0;
    padding: 2rem;
}
.btn-primary{
    background: #808de8;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid #808de8;
    font-weight: bold;
    padding: 10px 20px;
    box-shadow: 10px 10px 0 2px rgba(128,141,232,.15);
    margin-bottom: 2rem;
}
.btn-primary:hover{
    color: #bdc8f2;
    background: #808de8;
    border: 1px solid #808de8;
}
.btn-default{
    border: 1px solid #808de8;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #4E4957;
    padding: 10px 20px;
}
.btn-default:hover{
    color: #bdc8f2;
    background-color: #fbfbff;
    border: 1px solid #808de8;
}
.help{
    margin-top: 1rem;
    padding: 2rem;
    font-size: 12px;
}
.last-password{
    margin-bottom: 2rem;
}
.form-lost-password legend{
    display: none;
}
.form-lost-password #lost_password_submit{
    display: inline-block;
    width: 100%;
}
.form-register #registration_submit{
    display: inline-block;
    width: 100%;
}
#registration .col-sm-offset-2.col-sm-10,
#lost_password .col-sm-offset-2.col-sm-10{
    text-align: left;
}
.form-register{
    width: 735px;
    margin: auto;
}
.form-register .form-control{
    border-radius: 0;
}
.form-register .form-group label{
    font-weight: normal;
}
#registration .form-group:last-child{
    display: none;
}
.custom_required{
    font-size: 12px;
}
span.help-inline.help-block {
    text-align: left;
}
/* Large desktop */
@media (min-width: 1200px) {
    .form-register{
        width: 735px;
        margin: auto;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .form-register{
        width: 735px;
        margin: auto;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .form-register{
        width: 100%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .form-signin{
        max-width: 100%;
        padding: 1rem;
    }
    .section-title-container{
        width: 100%;
        box-shadow: 0 -50px 0 0 #f2b66c inset;
    }
    /*
    .section-title{
        border-bottom: 3px solid #f2b66c;
        padding-bottom: 1rem;
    }*/
    .form-register{
        width: 100%;
    }
    .form-register .form-group{
        text-align: left;
    }
}